.container-dropdown{
    position: relative;
    width: 170px;
    z-index: 1000; 
    
}

 .btn {
          
    width: 170px;
    height: 40px;
    caret-color: transparent;
    background-color:  #901C1C;
    padding: 2px 0 0 10px;      
    cursor: pointer;
    font-size: 18px;
 }


 #date ,#titre,#pop {
    color: #ffffff;

 }


  .hidden::before {
    content: none;
  }
  
.drop-container{
    height: 30px;
    display: flex;
    
    
}


