#filtre {
    padding-left: 35px;
    margin-top: 10px;
    font-family: Arial;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

#filtre-label {
    font-size: 24px;
    font-weight: 400;
}


.container-dropdown {
    font-family: arial;
    font-weight: bolder;
    position: absolute;
    left: 200px;
    width: 200px;
    padding: 10px;
    background-color: #901C1C;
    height: 15px;
    overflow: hidden;
}

.btn {
    color: white;
    background-color: #901C1C;
    width: 98%;
    cursor: pointer;
    caret-color: transparent;
    margin-bottom: 10px;
    z-index: 1000;
}

#pop{
    border-top: solid white 1px;
    
}

#titre{
    border-top: solid white 1px;
    
}