.container-dropdown{
    
            width: 115px;
            height: 125px;
}

 .btn {
            border: solid 1px black;
            margin: 2px;
            width: 100px;
            cursor: pointer;
            caret-color: transparent;
        }